*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --yves-blue: #19456B;
    --sea-blue: #11698E;
    --clay-gray: #D8E3E7;
    --coral-rose: #F8F1F1;
}

html::-webkit-scrollbar {
    display: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    min-height: 50px;
    background-color: var(--yves-blue);
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

header img{
    align-self: center;
    width: 100vw;
    height: auto;
}

.logotype{
    background-color: var(--yves-blue);
}

.button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin: 10px;
    background-color: var(--coral-rose);
}

.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button a{
    text-decoration: none;
    cursor: auto;
    color: var(--yves-blue);
}